@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Righteous", cursive;
}

#root {
  height: 100%;
}

.genpw:hover {
  box-shadow: 0px 0px 12px rgb(119, 119, 119) !important;
}

.pgdiv:hover {
  /* background-color: white !important; */
  opacity: 0.9 !important;
  box-shadow: 2px 2px 16px black !important;
}

@media only screen and (max-width: 400px) {
  .pwtitle {
    font-size: 20px !important;
  }

  .generatedText {
    font-size: 15px !important;
  }
}
